/* standard */

$mainPurple: #A479BB;
$grayTextFont: Karla, Helvetica, sans-serif;
$sentenceFont: Vollkorn, Georgia, serif;
$lightgray: rgba(0, 0, 0, 0.26);
$mainblack: #4f4f4f;

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 700px;
  margin: 0 auto;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.none {
  display: none;
}

.main-purple {
  color: $mainPurple;
}

.gray-title {
  color: $lightgray;
  font-family: $grayTextFont;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1.4px;
}

.black-sentence {
  font-size: 18px;
  font-family: $sentenceFont;
  color: $mainblack;
}

.contents {
  min-height: 550px;
}

.contents-wrapper {
  padding: 50px 0;
  width: 100%;
  height: 100%;
}

/* header */

header {
  height: 300px;
  color: #ffffff;
  position: relative;
  background: linear-gradient(to right, #28BBEB, #FF637E, #FFE226, #28BBEB);
  background-size: 300% 100%;

  .header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateY(-50%) translateX(-50%);
    font-size: 30px;
  }
  .header-menus {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;

    .header-menu {
      padding: 10px 0px;
      margin: 0 25px;
      display: inline-block;
      font-size: 15px;
      transition: 0.3s;
      text-align: center;
      border-bottom: 3px solid transparent;

      &:hover {
        color: $lightgray;
        border-bottom: 3px solid rgba(0, 0, 0, 0.15);
      }
    }
  }
}


/* profile */

.avatar {
  width: 100%;

  img {
    border-radius: 50%;
    height: 140px;
    width: 140px;
    margin: 0 auto;
  }
}

.profile-left {
  width: 33%;
}

.profile-right {
  width: 62%;
  margin-left: 5%;

  .profile-sentence {
    line-height: 35px;

    .profile-sentence-right {
      padding-left: 20px;
    }
  }
}

/* work */

.work-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .work-item {
    width: 45%;
    height: 270px;
    box-shadow: 0 2px 5px $lightgray;
    cursor: pointer;
    line-height: 28px;
    text-align: center;
    font-family: $grayTextFont;
    font-weight: bold;

    &:hover {
      box-shadow: 0 8px 20px $lightgray;
      transform: translateY(-1px);
      transition: 0.3s;
    }
    .work-item-bottom {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.7);
    }
    .work-period {
      font-size: 12px;
      color: $lightgray;
    }
  }
}

.work-bottom {
  display: flex;
  margin-top: 20px;

  .work-bottom-left {
    width: 65%;
    margin-right: 5%;

    .ex-desc {
      line-height: 31px;
    }
  }

  .work-bottom-right {
    width: 30%;

    .tools {

      div {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;

        span {
          padding: 5px;
          margin: 3px;
          color: $mainPurple;
          font-family: $grayTextFont;
          border: 0px solid rgba(174, 136, 173, 0.2);
          background-color: rgba(174, 136, 173, 0.1);
          border-radius: 100px;
          font-size: 11px;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}

.tools-title, .desc-title {
  margin: 10px 5px 20px 10px;
}






/* contact */

.contact-top {
  display: flex;
  padding-bottom: 30px;

  .contact-row {

    .contact-row-title {
      padding-bottom: 30px;
    }
    ul li {
      line-height: 35px;
      white-space: nowrap;
    }
  }
  .row-left {
    width: 32%;
    color: $mainPurple;
  }
  .row-right {
    width: 68%;
  }
}

/* footer */

footer {
  color: $lightgray;
  font-family: $sentenceFont;
  line-height: 20px;
  background-color: #f6f6f6;
  padding: 10px;
  width: 100%;
  font-size: 14px;

  .footer-content {
    width: 50%;

    a {
      color: $lightgray;
      padding: 0 3px;
    }
  }
}

.fa-envelope {
  color: $lightgray;
}
.fa-twitter {
  color: #00aced;
}
.fa-facebook-messenger {
  color: #0084ff;
}
